@using Entities
@model Entities.User
@{
    ViewBag.Title = "Редактирование информации о пользователе";
}

<form action="/Account/EditAccountInfo" method="post">
    <input type="hidden" name="userId" value="@ViewData["userId"]" />
    <h2>Редактирование информации пользователя</h2>
    <div class="form-horizontal">
        <h4>Редактирование информации</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Имя</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Фамилия</label>
            <div class="col-md-10">

                @Html.EditorFor(model => model.Sname, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Редактировать" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
