@using Entities
@model Entities.Login
@{
    ViewBag.Title = "Login";
}

<h2>Вход на сайт</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="">

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Password">Password</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" id="Password" name="Password" type="password">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Войти" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Нет аккаунта? Зарегистрируйтесь", "Register")
    </div>
}

