@{
    ViewBag.Title = "Home Page";
}

<div class="message">
    <h1>Проект навыков</h1>
    <p class="lead">Приложение с использованием .NET Framework на тему система учёта навыков пользователя.</p>
</div>